{% extends "base.html" %}
{% block title %}Add Categories{% endblock %}
{% block content %}

    {% if user.is_authenticated %}
    
        <h1 class="fw-light mx-4" >Add Category...</h1>
        <br>
            <div class = 'container form-group '>
                    <form action="" method="POST" autocomplete="off" >
                        {% csrf_token %}
                        {{form.as_p}}
                        <button class="btn btn-outline-info" >Add</button>
                    </form>
            </div>         
            {% else %}
                <h1>You are not logged in!</h1>
           
            
            {% endif%} 
      
{% endblock %}