{% extends "base.html" %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
    <h1>{{ post.titile }}</h1>
    <small>
        By: {{post.author}} - {{post.post_date}}<small><br>
    </small>
    <hr>
    <br>
    {{post.body|safe}}
    <br>
    <br>
    {% if user.id == post.author.id%}
        <a  class="link-info" href="{% url 'update_post' post.pk %}">Edit</a></small>
        <small><a  class="link-info"href="{% url 'delete_post' post.pk %}" >Delete</a></small>
    <!-- <a href="{% url 'home' %}">Back</a> -->
    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}
    {% endif%}
        <br>
        <br>
    {% if user.is_authenticated %}    
        {% if liked %}
            <hr>
            <button type="submit" name="post_id", value="{{post.id}}", class="btn btn-warning btn-sm">UnLike</button>-{{total_likes}} likes
        
        {% else %}
            <hr>
            <button type="submit" name="post_id", value="{{post.id}}", class="btn btn-danger btn-sm">Like</button>-{{total_likes}} likes
        
        {% endif%}
    </form>
    {% else %}
    <small><a class="link-info" href="{% url 'login'%}">Login</a> to like</small>
    {% endif%}
{% endblock %}
