{% extends "base.html" %}
{% load static %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
    <h1>{{ post.titile }}</h1>
    <small>
        By: {{post.author}} - {{post.post_date}}<small><br>
    </small>
    <hr>
    <br>
    {% if post.header_image %}
        <img src="{{ post.header_image.url }}" alt="">
    {% endif %}    
    {{post.body|safe}}
    <br>
    <br>
    {% if user.id == post.author.id%}
        <a  class="link-info" href="{% url 'update_post' post.pk %}">Edit</a></small>
        <small><a  class="link-info"href="{% url 'delete_post' post.pk %}" >Delete</a></small>
    <!-- <a href="{% url 'home' %}">Back</a> -->
    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}
    {% endif%}
        <br>
        <br>
    {% if user.is_authenticated %}    
        {% if liked %}
            <hr>
            <button type="submit" name="post_id", value="{{post.id}}", class="btn btn-warning btn-sm">UnLike</button>-{{total_likes}} likes
        
        {% else %}
            <hr>
            <button type="submit" name="post_id", value="{{post.id}}", class="btn btn-danger btn-sm">Like</button>-{{total_likes}} likes
        
    {% endif%}
</form>
    <br>
    <br>
   
    {% else %}
    <small><a class="link-info" href="{% url 'login'%}">Login</a> to like</small>
    {% endif%}
    <div class="card border-info mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">

            {% if post.author.profile.facebook_url %}
                <img src="{{ post.author.profile.profile_pic.url}}" class="img-fluid rounded-start" alt="..." , height = 200px >
            {% else %}
                <img src="{% static 'theblog/images/dp.jpg'  %}" class="img-fluid rounded-start" alt="...">
            {% endif %}
            
          
            </div>
          <div class="col-md-8">
            <div class="card-body">
                <p class="small text-muted">
                <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile</a>

                    {% if post.author.profile.facebook_url %}
                    
                        <a href="{{post.author.profile.facebook_url}}"><i class="fab fa-facebook-f"></i></a>
                    {% endif %} 
                    {% if post.author.profile.instagram_url %}
                        <a href="{{post.author.profile.instagram_url}}"><i class="fab fa-instagram"></i></a>
                    {% endif %} 
                    {% if post.author.profile.twitter_url %}
                        <a href="{{post.author.profile.twitter_url}}"><i class="fab fa-twitter"></i></a>
                    {% endif %}    
             
                 </p>
              <h5 class="card-title">{{ post.author}}</h5>
              <p class="card-text">{{ post.author.profile.bio}}</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
