{% extends "base.html" %}
{% block title %}Home {% endblock %}


{% block content %}
    <h1 class="fw-light">Posts</h1>
    <ul>
        {% for post in object_list %}
        <li>
            {% if user.is_authenticated %}
                
                    <a class="link-info" href="{% url 'article_details' post.pk %}">{{post.title}}</a>- <a class="link-info" href="{% url 'category' post.Category %}">({{post.Category|slugify}})</a> - {{post.author}} - {{post.post_date}}
                    {% if user.id == post.author.id%}
                        <small><a href="{% url 'update_post' post.pk %}" class="link-info">Edit</a></small>
                        <small><a href="{% url 'delete_post' post.pk %}" class="link-info">Delete</a></small>
                        <br>
                       {{post.body|slice:':100'}}
                    {% endif%}
            {%else%}
                <a href="{% url 'article_details' post.pk %}">{{post.title}}</a>- <a href="{% url 'category' post.Category %}">({{post.Category|slugify}})</a> - {{post.author}} - {{post.post_date}}
                    <br>
                {{post.body|slice:':200'|safe}}
            {% endif %}    
        </li>
        {% endfor %}
    </ul>
    <!-- <a href="{% url 'add_post' %}">Add post</a> -->
    <br>
     

{% endblock %}