<h1>post</h1>
<ul>
    {% for post in object_list %}
    <li>
        {% if user.is_authenticated %}
            <a href="{% url 'article_details' post.pk %}">{{post.title}}</a>-{{post.author}} - {{post.post_date}}
            <small><a href="{% url 'update_post' post.pk %}">Edit</a></small>
            <small><a href="{% url 'delete_post' post.pk %}">Delete</a></small>
            <br>
            
        {%else%}
            <a href="{% url 'article_details' post.pk %}">{{post.title}}</a>-{{post.author}} - {{post.post_date}}
        {% endif %}    
    </li>
    {% endfor %}
</ul>
<a href="{% url 'add_post' %}">Add post</a>
<br>
{% if user.is_authenticated %}
    <a href="{% url 'logout'%}">Logout</a>
{%else%}
    <a href="{% url 'login'%}">Login /</a>
    <a href="{% url 'register'%}">Register</a>
{% endif%}     